<p id="notice"><%= notice %></p>

<% if request.original_url.split('=').last.include? '/' %>
<h1>All Articles</h1>
<% else %>
<h1>All <%= request.original_url.split('=').last %> Articles </h1>
<% end %>


  <div class='well'>
    <%= @articles.each do |article| %>
    <h2><%= article.title %><h2><br>
    <p><%= link_to 'Read More', article_path(article), :class => 'btn btn-default', display: 'inline-block' %></p>
    <%= image_tag article.image_url, display: 'inline-block' %>
    <h5><%= truncate(article.body, length: 200) %></h5>
    <% end %>
  </div>

    
  


