<div class='container'>
<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>

<div class='container'>
  <%= image_tag @article.image_url, :alt => @article.title, align: 'right' %>
</div>

<p>
  <%= @article.body %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
</div>
