<!DOCTYPE html>
<html>
  <head>
    <title>SoulsBourneWiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SoulsBourneWiki</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>

      <% if user_signed_in? %>

        <li class="nav-item">
          <a class='nav-link' href='<%= new_article_path %>'>New Article</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href='<%= destroy_user_session_path %>'>Sign Out</a>
        </li>

      <% else %>

        <li class="nav-item">
          <a class='nav-link' href='<%= new_user_registration_path %>'>Sign Up</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href='<%= new_user_session_path %>'>Sign In</a>
        </li>

      <% end %>

    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      
      <li class='nav-item'>
        Logged in as '"00\\||//00"'
      </li>
      
    </div>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class='container'>
  <div class='row'>
    <div class='col-lg-10'>

      <%= yield %>

    </div>
    <div class='col-lg-2'>
      <ul class='nav nav-pills flex-column'>
        <li class='nav-item'><%= link_to 'All Weapons', root_path, class: 'nav-link' %></li>

        <% Genre.all.each do |genre| %>

        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="<%= articles_path(genre: genre.name) %>" 
            role="button" aria-haspopup="true" aria-expanded="false">
            <%= genre.name %>
          </a>
        
          <% Category.all.each do |category| %>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="<%= articles_path(category: category.name) %>">
              <%= category.name %>
            </a>
          </div>

          <% end %>
        <% end %>
        
        </li>
    </div>
  </div>




  </body>
</html>
